*{
    color: lightgray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/photo-1585314062604-1a357de8b000.jpeg);
    margin: 0;
}

header {
    background-image: url("./images/1079961.jpeg");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    color: lightgray;

}

header h1 {
    font-size: 50px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 2vw;
    color: lightgray;
    
}

.section-title{
    font-size: x-large;
    margin-left: 12%;
    margin-top: 6%;  
    text-decoration: overline underline; 
    text-align: left;
}

.flexbox div{
    width: 200px; height: 200px; margin: 5px;
}

.flexbox{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#picture{
    flex: 1 0 80%;
   
}

#paragraph{
    flex: 1 0 5%;
    background-image: url("./images/auavatar.png");
    background-size: contain;
}

.flexcontainer div{
    width: 200px; height: 200px; margin: 5px;
    border: 4px solid darkgray;
}

.flexcontainer{
    margin-left: 22%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#run-buddy{
    background-image: url("./images/images.jpeg");
    flex: 1 0 calc(100% - 30px);
}

#placeholder-1, #placeholder-2{
    flex: 1 0 auto;
    background-image: url(./images/download.png);
}

.flexcontact div{
    width: 200px; height: 200px; margin: 5px;
    border: 4px solid darkgray;
}

.flexcontact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    margin-top: 30%;
}