*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;   
}

.section-head{
    font-size: 45px;
    flex: 1 100%;
    padding: 20px;
    text-align: center;
    max-width: 200px;
}
    
.title{
    display: flex;
    flex-direction: row;
}

/* Header Styling */

header{
    background-image: url("./images/abstract-dark-black-and-grey-modern-material-header-technology-banner-abstract-widescreen-background-vector.jpeg");
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    color: lightgray;
}

header h1{
    font-size: 50px;
    color: lightgray;
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-size: 2vw;
    color: lightgray;    
}

/* About Me Styling */

#about-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 10%;
}

#about-me p{
    flex: 1 100%;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
}

.avatar{
    display: flex;
    flex: 0 25%;
    max-width: 20%;
    height: 10%;
    padding: 10px;
    border-left: 5px solid darkblue;
}

/* Work Styling */

#work{
    display: flex;
    margin-bottom: 50px;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 10%;
}

/* Flexbox Styling */

.flexcontainer div{  
    display: flex;
    width: 400px; height: 200px; margin: 5px;
    border: 4px solid darkblue;
}

.flexcontainer{   
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border-left: 5px solid darkblue;
}

#run-buddy{
    background-image: url("./images/images.jpeg");
    flex: 1 0 calc(100% - 30px);
}

#musicDashboard{
    background-image: url("./images/artist-rec-ss.png");
    background-size: cover;
    color: black;
}

#justMusicReviews{
    background-image: url(./Screen\ Shot\ 2022-06-18\ at\ 9.53.04\ AM.png);
    background-size: cover;
}


#placeholder-1, #placeholder-2{
    flex: 1 0 auto;
    background-image: url(./images/download.png);
}

/* Contact Styling */

#contact-me{
    display: flex;
    margin-bottom: 50px;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 10%;  
}

.contact-info{
    display: flex;
    border-left: 5px solid darkblue;
    width: 100%;    
}

.contact-info address{    
    display: flex;
    justify-content: space-between;
    line-height: 3.5;
    font-size: 32px;
    flex: 1 100%;
    padding: 10px;
    font-style: normal;
    text-decoration: none;
}

.contact-info a{
    display: flex;
    justify-content: space-between;
}

.contact-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 10%;
}

.contact-me a{
    text-decoration: none;
}

/* Media Queries */

 @media screen and (max-width: 768px) {  
        .header {
            width: 100%;
        }
       .title{
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        .section-head{
            display: flex;
            justify-content: center;
            align-items: center; 
            max-width: none;
        }        
        header nav ul li a{
            font-size: 20px;
        }       
        .contact-info{
            border-left: none;
            flex-wrap: wrap;
            text-align: center;
        }
        .flexcontainer{
            border-left: none;
        }
        .avatar{
            border-left: none;
            max-width: 50%;
        }
        .number {
            font-size: 20px;
        }
        .email {
            font-size: 20px;
        }
        .github {
            font-size: 20px;
        }
        .spotify{
            font-size: 20px;
        }
    }
    
 
@media screen and (max-width: 575px) {
        .contact-info address {
            font-size: 24px;
            flex-direction: column;
            text-align: center;
        }
        header nav ul li a {
            font-size: 20px;
            justify-content: space-between;
            padding: 5px;
        }
    }


